<div class="container text-center">
  <h1>Question</h1>

  <form action="answer">
    <div class="titre">
      <label for="question">Speak to your coach</label>
    </div>
    <div class="formulaire">
        <input type="text" id="question" name="query" placeholder="what time is it?">
      <input type="submit" value="Go on!" class="bouton">
    </div>
  </form>
</div>
